// COLORS
$primary-color: #6f0000;
$secondary-color: #200122;

$white-color: #fff;
$gray-color: #ebebeb;

$dark-grey: #181818; // For Footer

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
